/* :root {
    --color-text:            rgb(233, 244, 251);
    --color-background:      rgb(6, 9, 15);
    --color-header:          rgb(237, 0, 73);
    --color-header_h1:       rgb(233, 244, 251);
    --color-search:          rgb(65, 19, 40);
    --color-keys:            rgb(88, 17, 45);
    --color-keys_hover:      rgb(65, 2, 23);
    --color-input:           rgb(18, 22, 29);
    --color-input_hover:     rgb(32, 36, 43);
    --color-input_border:    rgb(41, 46, 54);
    --color-badge_start:     rgb(255, 2, 102);
    --color-badge_end:       rgb(187, 0, 73);
    --color-button_series:   rgb(196, 0, 59);
    --color-button_series_h: rgb(247, 0, 77);
    --color-favorite_title:  rgb(255, 215, 0);
    --color-button_remove:   rgb(65, 19, 40);
    --color-button_remove_h: rgb(157, 0, 73);
    --color-button_remove_b: rgb(247, 0, 77);
} */